<template>
  <v-layout row>
    <v-flex xs12>
      <v-card>
        <v-list>
          <v-subheader>Comments</v-subheader>
          <template v-for="(item,index) in comments">
            <v-divider :key="index"></v-divider>

            <v-list-tile :key="item._id" avatar>
              <v-list-tile-avatar>
                <img :src="item.avatar">
              </v-list-tile-avatar>

              <v-list-tile-content>
                <v-list-tile-title v-html="item.author"></v-list-tile-title>
                <v-list-tile-sub-title v-html="item.message" class="comment__body"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
        <v-card-text class="px-3">
          <v-textarea
            ref="comment"
            style="width:100%"
            label="Say something"
            rows="2"
            auto-grow
            counter
            :error-messages="errorMessage"
            @input="debounceValidate"
            placeholder="Max input is 10 symbols just for an example"
          ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="$refs.comment.value=''">Clear</v-btn>
          <v-spacer/>
          <v-btn
            @click="submitComment"
            :disabled="isSendBtnDisabled"
            :loading="isSendBtnLoading"
            color="primary"
          >Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
const _ = require("lodash");
import store from "../store";
import { mapGetters } from "vuex";
import api from "../api";
export default {
  name: "CommentsBox",
  //@todo 'comments' and 'reportId' can be combined into a single object
  props: ["comments", "reportId"],
  data() {
    return {
      textArea: "",
      errorMessage: null,
      isSendBtnDisabled: false,
      isSendBtnLoading: false
    };
  },
  methods: {
    async submitComment() {
      this.isSendBtnLoading = true;
      console.log("Submitting comment");
      try {
        let commentObj = {};
        commentObj["author"] = this.USER.name;
        commentObj["message"] = this.textArea;
        commentObj["avatar"] =
          "https://www.gravatar.com/avatar/erf?s=192&r=g&d=identicon";
        const result = await api.postComment(this.reportId, commentObj);
        if (result.status == "ok") {
          this.comments.push(commentObj);
          this.isSendBtnLoading = false;
          return result;
        }
      } catch (error) {
        console.log(error);
      }
    },
    debounceValidate: _.debounce(function(e) {
      if (e.length >= 10) {
        this.errorMessage = "Max symbols: 10";
        this.isSendBtnDisabled = true;
      } else {
        this.textArea = e;
        this.errorMessage = null;
        this.isSendBtnDisabled = false;
      }
      console.log(e);
    }, 500)
  },
  computed: {
    ...mapGetters(["USER"])
  }
};
</script>

<style lang="sass">
.comment
    &__body
        white-space: normal
        overflow: auto
    &__input
        width: 100%
div.v-list__tile.v-list__tile--avatar.theme--light
    height: 100% !important
</style>
