<template>
  <div>
    <div class="pt-3 px-4 headline text-xs-center text-sm-left">
      <p>{{report.title}}</p>
    </div>
    <v-container fluid fill-height>
      <v-layout justify-space-between align-left row wrap>
        <v-flex xs12 sm12 md6 mb-2 text-xs-left>
          <v-card>
            <v-card-title>
              <v-layout row justify-space-between>
                <v-flex>{{report.title}}</v-flex>
                <v-flex
                  class="text-xs-right"
                >{{new Date(report.createdAt).toLocaleDateString("jp-JP")}}</v-flex>
              </v-layout>
            </v-card-title>
            <v-card-text v-html="report.body">
              <div v-if="loading" class="text-xs-center">
                <v-progress-circular indeterminate color="primary" :size="40"></v-progress-circular>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 sm12 md5>
          <CommentsBox :comments="report.comments" :reportId="report._id"/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import CommentsBox from "./CommentsBox";
import api from "../api";
export default {
  name: "Report",
  components: {
    CommentsBox
  },
  data() {
    return {
      report: {},
      loading: true
    };
  },
  methods: {
    async loadReportById(reportId) {
      if (reportId) {
        try {
          const report = await api.getReportById(reportId);
          this.loading = false;
          this.report = report;
        } catch (error) {
          console.log(error);
        }
      }
    }
  },
  mounted() {
    //@todo This reportId should be loaded from the Store
    this.loadReportById(this.$route.params.reportId);
    console.log(this.$route.params);
  }
};
</script>

<style lang="sass">

</style>

