<template>
  <v-container fluid fill-height>
    <v-data-table :headers="headers" :items="USER.review_list" class="elevation-1" item-key="_id">
      <template v-slot:items="props">
        <!-- @todo Use store to keep track of the current reportId -->
        <tr @click="$router.push({name:'reports', params:{reportId:props.item._id}})">
          <td>{{ props.item.title }}</td>
          <td class="text-xs-left">{{new Date(props.item.createdAt).toLocaleString("jp-JP") }}</td>
          <td class="text-xs-left">{{ props.item.comments.length}}</td>
        </tr>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import store from "../store";
import { mapGetters } from "vuex";
export default {
  name: "Review",
  data() {
    return {
      headers: [
        { text: "Report name", value: "title" },
        { text: "Date created", value: "date" },
        { text: "Comments #", value: "comments" }
      ]
    };
  },
  computed: {
    ...mapGetters(["USER"])
  },
  methods: {
    showAlert(id) {
      alert(id);
    }
  }
};
</script>

<style lang="sass" scoped>
tr
    cursor: pointer;
</style>
