<template>
  <v-container fluid fill-height>
    <v-layout justify-center align-center column wrap>
      <v-flex text-xs-center>
        <v-avatar size="96px" round>
          <img
            :src="'https://www.gravatar.com/avatar/erf'+'?s=192&r=g&d=identicon'"
            alt="Profile icon"
          >
        </v-avatar>
        <p class="headline ma-3">Welcome, {{USER.name}}</p>
      </v-flex>
      <v-flex>
        <v-card class="userinfo">
          <v-card-text>
            <v-layout fill-height row wrap>
              <v-flex class="userinfo__prop" ma-3 xs5 sm5 md5>Username</v-flex>
              <v-flex ma-3 xs5 sm5 md5 offset-xs1>{{USER.name}}</v-flex>
              <v-flex class="userinfo__prop" ma-3 xs5 sm5 md5>Age</v-flex>
              <v-flex ma-3 xs5 sm5 md5 offset-xs1>{{USER.age}}</v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import store from "../store";
import { mapGetters } from "vuex";
export default {
  name: "User",
  computed: {
    ...mapGetters(["USER"])
  }
};
</script>

<style lang="sass" scoped>
.userinfo
    @media screen and (min-width: 768px)
        width: 700px !important
    @media screen and (min-width: 1024px)
        width: 900px
.userinfo__prop
    text-transform: uppercase !important
    font-size: 0.7rem
    font-weight: 500
    line-height: 2rem

</style>

