<template>
  <div>
    <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" fixed app>
      <v-container>
        <v-layout flex justify-center>
          <v-avatar size="64px" round>
            <img
              :src="'https://www.gravatar.com/avatar/'+USER.id+'?s=128&r=g&d=identicon'"
              alt="Profile icon"
            >
          </v-avatar>
        </v-layout>
        <p class="text-xs-center ma-2">{{USER.name}}</p>
      </v-container>
      <v-list dense>
        <v-list-tile ripple to="/user">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile ripple to="/reviews">
          <v-list-tile-action>
            <v-icon>contact_mail</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>To review</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="indigo" dark fixed app>
      <v-toolbar-side-icon class="hidden-lg-and-up" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Report Reviews</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <router-view name="user"/>
      <router-view name="reports"/>
      <router-view name="reviews"/>
    </v-content>
  </div>
</template>

<script>
import store from "../store";
import { mapGetters } from "vuex";
export default {
  name: "App",
  data: () => ({
    drawer: null
  }),
  computed: {
    ...mapGetters(["USER"])
  },
  created() {
    // load user info
    this.$store.dispatch("GET_USER_INFO");
  },
  props: {
    source: String
  }
};
</script>

<style>
</style>
